**/node_modules
**/playwright-report
**/test-results
**/dist
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.nyc_output
.coverage
.cache
build
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
*~
.github
docs
lefthook.yml
