# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.env
*.DS_Store

/server/data
/server/dist/

/client/dist/
/client/stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Playwright
test-results
playwright-report
blob-report
client/playwright/.cache/
